%img-one-item {
  width: 50px;
  height: 50px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
.app-home {
  height: 550px;
  background: #eaea8f;
  width: 100%;
  margin-left: 0px;

  .page-left {
    position: relative;
    .big-text {
      position: absolute;
      top: 34%;
      font-size: 50px;
    }
    .let-chat {
      position: absolute;
      left: 45%;
      bottom: 5%;
      height: 64px;
      font-size: 30px;
      transition: 0.4s;
    }
    .let-chat:hover {
      background: rgb(218, 134, 218);
    }
  }

  .page-right {
    .phone {
      background: white;
      border: 1px solid white;
      border-radius: 40px;
      height: 490px;
      margin: 5px;
      .p-media {
        padding: 20px 35px 0px 35px;
        height: 52px;
        display: block;
        .p-mic {
          width: 64px;
          height: 10px;
          background: black;
          border-radius: 44%;
          float: left;
          margin-left: 29%;
        }

        .p-camera {
          width: 30px;
          height: 30px;
          background: black;
          float: left;
          border-radius: 50%;
        }

        .p-sensor {
          width: 10px;
          height: 10px;
          background: black;
          border-radius: 50%;
          float: right;
        }
      }
      .p-head {
        background: #f1efb0e6;
        height: 70px;
        .icon-head {
          float: right;
          .icon-battery {
            margin: 5px;
          }
        }
        .lemon {
          clear: both;
          float: left;
          font-size: 30px;
        }
        .icon-call {
          float: right;
          font-size: 30px;
        }
      }
      .p-body {
        padding: 10px;
        height: auto;
        .p-chat-item-right {
          height: 74px;
          .img-item {
            @extend %img-one-item;
            float: right;
            margin-left: 10px;
          }
          .p-chat-text {
            float: right;
            line-height: 50px;
            margin-bottom: 0px;
          }
          .per-name {
            float: right;
            clear: both;
            margin-right: 10px;
          }
        }

        .p-chat-item-left {
          clear: both;
          .img-item {
            @extend %img-one-item;
            float: left;
            margin-right: 10px;
          }
          .p-chat-text {
            line-height: 50px;
            margin-bottom: 0px;
          }
          .per-name {
            margin-left: 10px;
          }
        }
      }
      .p-footer {
        position: relative;
        clear: both;
        .fo-send {
          position: absolute;
          right: 32px;
          top: 4px;
        }
        .fo-input {
          width: 90%;
          height: 32px;
          background: #dad1c6;
          border-radius: 40px;
          float: left;
          margin-left: 15px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .app-home {
    background: #eaea8f;
    width: 100%;
    margin-left: 0px;
    height: auto;

    .page-left {
      text-align: center;
      .big-text {
        position: unset;
        font-size: 30px;
      }
      .let-chat {
        position: unset;
        height: 64px;
        font-size: 20px;
        margin: auto;
      }
    }
  }
}
